{% extends 'base.html' %}


{% block content %}

<div class="qna_update_box">
  <form method="post">
    {% csrf_token %}
    <p>작성자: {{ post.author }}</p>
    <p>작성일: {{ post.created_at|date:'Y. m. d' }}</p>
    <label for="name">제목: </label>
    <input type="text" value="{{ post.title }}" name="inputValue"><br><br>
    <label for="">문의 내용: </label>
    <input type="text" value="{{ post.content }}" name="inputcontent"><br>

    <button class="update_btn1" type="submit">수정</button>
    <a class="update_btn2" type="button" href="{% url 'qna-delete' pk=post.pk %}">삭제</a>
  </form>
</div>
{% endblock %}s