{% extends 'base.html' %}


{% block content %}

<div class="qna_update_box">
  <form method="post">
    {% csrf_token %}
    <p>작성자: {{ post.client }}</p>
    <p>작성일: {{ post.qna_created_at|date:'Y. m. d' }}</p>
    <label for="name">제목: </label>
    <input type="text" value="{{ post.qna_title }}" name="inputValue"><br><br>
    <label for="">문의 내용: </label><br>
    <textarea type="text" value="{{ post.qna_content }}" name="inputcontent"></textarea><br>

    <button class="update_btn1" type="submit">수정</button>
  </form>


  <form method="post" action="{% url 'qna-delete' pk=post.pk %}">
    {% csrf_token %}
    <button type="submit">삭제</button>
  </form>
</div>
{% endblock %}