{% extends 'base.html' %}

{% block content %}



<h4 class="mypage_h">Q&A</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
    </thead>
    {% if lists.0 %}
    {% for qna in lists.0 %}
    <tbody>
        <tr>
            <td><a href="{% url 'qna-detail' pk=qna.pk %}">{{ qna.qna_title }}</a></td>
            <td>{{ qna.client }}</td>
            <td>{{ qna.qna_created_at|date:'Y. m. d' }}</td>
        </tr>
    </tbody>
    {% endfor %}
    {% else %}
    <tbody>
        <tr>
            <td>작성된 게시글이 없습니다.</td>
            <td>none</td>
            <td>none</td>
        </tr>
    </tbody>
    {% endif %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if lists.0.has_previous %} <!--allqna객체가 이전 페이지를 가진 경우-->
        <a href="?page1=1&page2={{ lists.1.number }}&page3={{ lists.2.number }}">&laquo; 처음</a>
        <a href="?page1={{ lists.0.previous_page_number }}&page2={{ lists.1.number }}&page3={{ lists.2.number }}">이전</a>
        {% endif %}

        <span class="current-page">
            페이지 {{ lists.0.number }} / {{ lists.0.paginator.num_pages }}
        </span> <!--현재페이지 번호 / 전체 페이지 수 출력-->

        {% if lists.0.has_next %} <!--allqna객체가 다음페이지 가진 경우-->
        <a href="?page1={{ lists.0.next_page_number }}&page2={{ lists.1.number }}&page3={{ lists.2.number }}">다음</a>
        <a href="?page1={{ lists.0.paginator.num_pages }}&page2={{ lists.1.number }}&page3={{ lists.2.number }}">끝
            &raquo;</a>
        {% endif %}
    </span>
</div>


<br><br>



<h4 class="mypage_h">Challenge</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
    </thead>
    {% if lists.1 %}
    {% for challenge in lists.1 %}
    <tbody>
        <tr>
            <td><a href="{% url 'challenge_app:challenge_detail' id=challenge.pk %}">{{ challenge.challenge_title }}</a>
            </td>
            <td>{{ challenge.challenge_name }}</td>
            <td>{{ challenge.challenge_created_at|date:'Y. m. d' }}</td>
        </tr>
    </tbody>
    {% endfor %}
    {% else %}
    <tbody>
        <tr>
            <td>작성된 게시글이 없습니다.</td>
            <td>none</td>
            <td>none</td>
        </tr>

    </tbody>
    {% endif %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if lists.1.has_previous %} <!--allqna객체가 이전 페이지를 가진 경우-->
        <a href="?page1={{ lists.0.number }}&page2=1&page3={{ lists.2.number }}">&laquo; 처음</a>
        <a href="?page1={{ lists.0.number }}&page2={{ lists.1.previous_page_number }}&page3={{ lists.2.number }}">이전</a>
        {% endif %}

        <span class="current-page">
            페이지 {{ lists.1.number }} / {{ lists.1.paginator.num_pages }}
        </span> <!--현재페이지 번호 / 전체 페이지 수 출력-->

        {% if lists.1.has_next %} <!--allqna객체가 다음페이지 가진 경우-->
        <a href="?page1={{ lists.0.number }}&page2={{ lists.1.next_page_number }}&page3={{ lists.2.number }}">다음</a>
        <a href="?page1={{ lists.0.number }}&page2={{ lists.1.paginator.num_pages }}&page3={{ lists.2.number }}">끝
            &raquo;</a>
        {% endif %}
    </span>
</div>


<br><br>



<h4 class="mypage_h">Comments</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">챌린지</th>
            <th scope="col">작성 댓글</th>
            <th scope="col">작성일</th>
        </tr>
    </thead>
    {% if lists.2 %}
    {% for comment in lists.2 %}
    <tbody>
        <tr>
            <td><a
                    href="{% url 'challenge_app:challenge_detail' id=comment.comment_challenge.id %}">{{comment.comment_challenge.challenge_name}}</a>
            </td>
            <td>{{ comment.comment_content }}</td>
            <td>{{ comment.comment_created_at|date:'Y. m. d' }}</td>
        </tr>
    </tbody>
    {% endfor %}
    {% else %}
    <tbody>
        <tr>
            <td>작성된 게시글이 없습니다.</td>
            <td>none</td>
            <td>none</td>
        </tr>

    </tbody>
    {% endif %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if lists.2.has_previous %} <!--allqna객체가 이전 페이지를 가진 경우-->
        <a href="?page{{ lists.0.number }}=1&page2={{ lists.1.number }}&page3=1">&laquo; 처음</a>
        <a href="?page1={{ lists.0.number }}&page2={{ lists.1.number }}&page3={{ lists.2.previous_page_number }}">이전</a>
        {% endif %}

        <span class="current-page">
            페이지 {{ lists.2.number }} / {{ lists.2.paginator.num_pages }}
        </span> <!--현재페이지 번호 / 전체 페이지 수 출력-->

        {% if lists.2.has_next %} <!--allqna객체가 다음페이지 가진 경우-->
        <a href="?page1={{ lists.0.number }}&page2={{ lists.1.number }}&page3={{ lists.2.next_page_number }}">다음</a>
        <a href="?page1={{ lists.0.number }}&page2={{ lists.1.number }}&page3={{ lists.2.paginator.num_pages }}">끝
            &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}