* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poor Story', cursive;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

/*회의시작*/
html,
body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*==================================*/
/*html,
body {
  width: 100%;
  height: 100%;
}
*/
/*회의 끝*/

.nav {
  width: 100%;
  height: 130px;
  background-color: rgb(67, 128, 90);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 3px;
}

.menu_box {
  width: 330px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.xi-bars {
  font-size: 50px;
}

.xi-bars:hover {
  cursor: pointer;
}

.slide_nav {
  position: fixed;
  top: 130px;
  right: 0px;
  width: 300px;
  height: 100%;
  background-color: #78997d;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 3px;
  z-index: 1;
}

.slide_nav>a {
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
}

.container {
  width: 400px;
  height: 600px;

}

.btn-primary {
  background-color: #78997d;
  border-color: #78997d;
}

.qna_create {
  background-color: rgb(193, 214, 193);
  display: inline-block;
  padding: 5px;
  margin-top: 20px;
  border-radius: 12px;
  border: solid 1px whitesmoke;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 3px 2px;
  text-align: right;
  margin-left: 10px;
}



.qna_create_box {
  background-color: rgb(236, 232, 232);
  padding: 100px;
  width: 30%;
  height: 30%;
  margin-left: 35%;
  margin-top: 50px;
}

.qna_detail_box_cover {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 232, 232);
  margin-left: 40%;
  width: 400px;
  height: 500px;
}


.qna_content_box {
  padding: 0px;
}

.qna_create_box input[type="text"] {
  box-sizing: border-box;
  /* 내부 여백 포함한 박스 모델 사용 */
  width: 80%;
  /* 가로 너비 60%로 설정 */
  padding: 3px;

}

.qna_btn {
  background-color: aliceblue;
  padding: 5px;
  width: 70px;
  border: solid 0.1px gray;
}


.cont_box {
  width: 100%;
  height: 150px;
}

.cont_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 10px 10px;
}

.cont_ul>* {
  flex-basis: 200px;
}

.qna_update_box textarea {
  resize: none;
  height: 200px;
  width: 400px;
}

.qna_create_box_cover textarea {
  resize: none;
  height: 200px;
  width: 400px;
}

.table {
  margin-top: 50px;
  text-align: center;
}


.qna_detail_box {
  margin-top: 20%;
}

.qna_update_box {
  display: inline-block;
  justify-content: center;
  align-items: center;
}


.go_to_edit_btn {
  background-color: rgb(221, 221, 221);
  font-weight: bold;
  display: inline-block;
}


.step-links {
  padding-bottom: 30px;
}

.cont_box li {
  text-align: center;
}

.detail1 {
  margin-bottom: 10px;
}


.detail3 {
  margin-bottom: 10px;
}

.detail4 {
  margin-top: 5px;
  background-color: white;
  width: 300px;
  height: 250px;
  display: flex;
  margin-left: 10%;
}

.mb-4 {
  margin-top: 50px;
  width: 400px;
  height: 500px;
  text-align: center;
}


.mb-5 {
  background-color: #78997d;
  margin-top: 50px;
  width: 400px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.UD_btn {
  border: none;
  border-radius: 5px;
  padding: 3px;
}

.UD_btn_1 {
  position: relative;
  left: 50px;
  border: none;
  border-radius: 5px;
  padding: 3px;

}

.mypage_h {
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(182, 224, 176);
  border-radius: 2px;
  border: solid 0.1px rgb(126, 152, 126);
}

.col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.card {
  margin-left: 20px;
  margin-bottom: 20px;

}

.qna_comment {
  font-size: 20px;
  color: darkgreen;
  font-weight: bold;
  text-align: center;
}

.qna_comment_content {
  font-size: 20px;
  color: darkgreen;
  font-weight: bold;
  text-align: center;
  background-color: white;
  width: 500px;
  height: 280px;
  position: relative;
  left: 130px;
  top: -10px;
}

.qna_edit_content {
  text-align: center;
  font-size: 20px;
  color: darkgreen;
  font-weight: bold;
}