* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

html,
body {
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  height: 130px;
  background-color: #8d8da0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 3px;
}

.menu_box {
  width: 330px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.xi-bars {
  font-size: 50px;
}

.xi-bars:hover {
  cursor: pointer;
}

.slide_nav {
  position: fixed;
  top: 130px;
  right: 0px;
  width: 300px;
  height: 100%;
  background-color: #b2b8d8;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 3px;
}

.slide_nav>a {
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
}

.qna_create {
  background-color: rgb(173, 173, 173);
  display: inline-block;
  padding: 5px;
  margin-top: 20px;
  border-radius: 12px;
  border: solid 1px whitesmoke;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 3px 2px;
  text-align: right;
  margin-left: 10px;
}


.qna_table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 300px 30px;
}

.qna_table thead {
  background-color: rgb(178, 149, 182);
}

.qna_list_title {
  font-weight: bold;
}

.qna_create_box {
  background-color: #b2b8d8;
  padding: 100px;

}

.qna_detail_box {
  width: 900px;
  height: 600px;
}

.qna_detail_box_cover {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.qna_create_box_cover {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.qna_content_box {
  padding: 0px;
}

.qna_create_box input[type="text"] {
  box-sizing: border-box;
  /* 내부 여백 포함한 박스 모델 사용 */
  width: 80%;
  /* 가로 너비 60%로 설정 */
  padding: 3px;

}

.qna_btn {
  background-color: aliceblue;
  padding: 5px;
  width: 70px;
  border: solid 0.1px gray;
}

.main_middle {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 1);
}

.cont_txt {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgba(240, 240, 240, 1);
}

.cont_box {
  width: 100%;
  height: 100%;

}

.cont_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 10px 10px;
}

textarea {
  resize: none;
  height: 200px;
  width: 400px;
}

hr {
  color: black;
}

.row2 {
  font-weight: bold;
}

.qna_detail_box p {
  padding-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.go_to_edit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qna_update_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: green;
}

.update_btn1 {
  background-color: purple;
  border: none;
  margin-top: 10px;
}


.update_btn2 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  background-color: purple;
  margin-top: 10px;
}