{% extends 'base.html' %}

{% block content %}


<br><br>
<div class="col">
  {% if results %}
  {% for result in results %}
  <div class="card" style="width: 18rem;">
    <a href="{% url 'challenge_app:challenge_detail' id=result.id %}"><img
        src="{{ MEDIA_URL }}{{ result.challenge_image.url }}" class="card-img-top"
        alt=alt="{{ result.challenge_title }}"></a>
    <div class="card-body">
      <h5 class="card-title">{{result.challenge_title}}</h5>
      <p class="card-text">작성자 : {{ result.challenge_author }}
      </p>
      <p class="card-text">챌린지명 : {{ result.challenge_name }}
      </p>
      <a href="{% url 'challenge_app:challenge_detail' id=result.id %}" class="btn btn-primary">상세보기</a>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>결과가 없습니다</p>
{% endif %}



{% endblock %}