{% extends 'base.html' %} {% block content %}

<p>제목 : {{ challenge.challenge_title }}</p>
<p>작성자 : {{ challenge.challenge_author }}</p>
<p>작성 시간 : {{ challenge.challenge_created_at|date:"y-m-d H:i" }}</p>
<p>챌린지 이름 : {{ challenge.challenge_name }}</p>
<p>도전 장르 : {{ challenge.challenge_genre }}</p>
<p>내용 : {{ challenge.challenge_content }}</p>
<img src="{{ MEDIA_URL }}{{ challenge.challenge_image.url }}"><br>
{% if challenge.challenge_author == request.user %}
<a href="{% url 'challenge_app:edit_challenge' challenge.id %}">수정</a>
<a href="{% url 'challenge_app:delete_challenge' challenge.id %}">삭제</a>
{% endif %}
<a href="{% url 'challenge_app:view_main' %}">목록</a>

{% endblock %}