{#{% extends 'base.html' %}#}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{#{% block content %}#}
<body>
<h1>챌린지 댓글을 남겨주세요!</h1>
<div style="background-color: gray; width: 70%; height: 50%; padding: 10px;">
    <a href="/api/comments/create">나도 작성하기!</a>
    {% if all_comment %}
        {% for comment in all_comment %}
            <div style="background-color: white; width: 100%; margin-top: 10px;">
                <p style="display: flex; flex-direction: row; justify-content: space-between; padding: 10px">
                    <span>{{ comment.comment_writer }}</span>
                    <span>{{ comment.comment_created_at }}</span>
                </p>
                <p style="display: flex; flex-direction: row; padding: 10px; justify-content: space-around;">
                    {% if comment.comment_image %}
                        <img src="{{ comment.comment_image.url }}" alt="comment_image"
                             style="height : 130px ; margin-left:20px">
                    {% else %}
                        <img src="{% static 'admin/img/defaultimg.png' %}"
                             alt="default Image" style="height : 130px; margin-left:20px">
                    {% endif %}
                    <span>{{ comment.comment_content }}</span>
                </p>
            </div>
        {% endfor %}
    {% endif %}
</div>
</body>
{#{% endblock %}#}
</html>

#밥 먹고 와서, 튜터님 질문: CSS 코드들을 스태틱으로 옮기는 법, DB에 있는 이미지 꺼내서 html에 보여주는 방법
#다들 점심 맛있게 드세요!